.star img {
    height: 15px;
    width: 22px;
}

.stars {
    position: relative;
    display: flex;
    width: 98px;
    height: 0px;
    top: 30px;
}


@media screen and (min-width: 768px) {
    .star img {
        height: 36px;
        width: 28px;
    }

    .stars {
        gap: 10px;
        align-items: flex-end;
        justify-content: flex-end;
        width: auto;
        top: 6px;
    }
}