@import "../theme/colors.scss";

.footer {
    background-color: $quaternary-color;
    margin-top: 27px;

    &__contentTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 209px;
        text-align: center;
    }

    p {
        width: 150px;
    }
}


.footer p {
    color: $tertiary-color;
}

@media (min-width: 769px) {
    .footer {
        margin-top: 50px;

        p {
            width: 100%;
            margin-top: 28px;
        }
    }

    
}