@import "../theme/colors.scss";

.footer {
    background-color: $quaternary-color;
    margin-top: 27px;

    &__contentTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 209px;
        text-align: center;
    }
}


.footer p {
    color: $tertiary-color;
}