@import "../theme/colors.scss";

.header {
    display: flex;
    align-items: center;
    margin: 0 20px 27px; 

    &__menuList {
        display: flex;
        gap: 26px;
        align-items: center;
    }
}

.header ul {
    list-style-type: none;
    font-size: 12px;
  }

.header a {
    display: flex;
    text-decoration: none;
    color: $primary-color;
}

.header img {
    width: 145px;
}