$primary-color: #FF6060; //red
$secondary-color: #F6F6F6; //light grey
$tertiary-color: #FFFFFF; //white
$quaternary-color: #000; //black

$gradient-background: linear-gradient(180deg, rgba(255, 96, 96, 1) 100%, rgba(0, 0, 0, 0.50) 100%);
